<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-lg">
          <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Booking Details</h2>
          </div>
          <div class="card-body">
            <div *ngIf="loading" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
  
            <div *ngIf="error" class="alert alert-danger" role="alert">
              {{ error }}
            </div>
  
            <div *ngIf="booking && !loading && !error">
              <h3 class="card-title">{{ booking.show.title }}</h3>
              <p class="card-text"><strong>Booking ID:</strong> {{ booking._id }}</p>
              <p class="card-text"><strong>Name:</strong> {{ booking.name }}</p>
              <p class="card-text"><strong>Email:</strong> {{ booking.email }}</p>
              <p class="card-text"><strong>Phone:</strong> {{ booking.phoneNumber }}</p>
              <p class="card-text"><strong>Booking Date:</strong> {{ booking.bookingDate | date:'medium' }}</p>
              <p class="card-text"><strong>Total Price:</strong> {{ booking.totalPrice| currency: 'INR' }}</p>
  
              <h4 class="mt-4">Seats</h4>
              <ul class="list-group">
                <li *ngFor="let seat of booking.seats" class="list-group-item">
                   {{ rowName(seat.row) }}{{ seat.seatNumber }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>