<form class="city-form mt-4 mx-auto">
  <div class="mb-3">
    <label for="selectCity" class="form-label">Select City</label>
    <select 
      name="selectCity" 
      id="selectCity" 
      class="form-select" 
      [(ngModel)]="selectedCity"
    >
    <option value="">Please Choose A city from below</option>
      @for (city of allCities; track $index) {
        <option value="{{city?.name}}">{{city?.name}}</option>
      }
    </select>
  </div>

  <button 
    type="submit" 
    class="btn btn-primary w-100" 
    (click)="citySelector()"
  >
    Submit
  </button>
</form>
