.booking-btn{
    background-color: orangered;
    border: orange;
    outline: orange;
    transition: all 0.3s ease-in-out;
}

.booking-btn:hover{
    background-color: rgb(211, 63, 5);
    border: orange;
    outline: orange;
}